.headerContainer, ul {
    display: flex;
}

.headerContainer {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

.headerImg {
    width: 30%;
}

.headerNav {
    width: 70%;
}

a {
    font-size: 3rem;
}

ul {
    justify-content: space-around;
}