h1 {
    padding: 30px;
    font-family: 'Red Rose', cursive;
    font-size: 6vw;
}

p {
    font-family: 'Red Rose', cursive;
    font-size: 2vw;
}

button {
    padding: 7px 14px;
    border-radius: 10%;
    background-color: orange;
    font-family: 'Red Rose', cursive;
    font-size: 1.8vw;
}

.question {
    font-size: 2vw;
    padding: 20px;
    font-family: 'Sora', sans-serif;
    width: 80%;
    margin: 0 auto;
    border: 4px dashed black;
    border-radius: 5%;
    background-color: #DC143C;
}

button:hover {
    background-color: purple;
    color: green;
}

header button {
    margin: 30px 30px 0 30px;
}

.gameContainer {
    width: 50%;
    max-width: 80%;
    background-color: pink;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 8px 1px;
    border-radius: 10px;
}

.btnGrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 10px 10px;
}

.btn, .btnCorrect {
    background-color: aquamarine;
    border-radius: 10px;
    display: none;
}

.btn:hover {
    border-color: black;
}

.hide {
    display: none;
}

.fas {
    padding: 20px;
    font-size: 5rem;
    color: red;
}