.textContainer {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.answerContainer {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 3rem auto; 
    justify-content: space-between;
    line-height: 5rem;
}

