@media (max-width: 600px) {
    button {
        padding: 3px 7px;
    }

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1rem;
    }
}

